@use '../../sass/variables' as *;

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
  margin-bottom: 7.875rem;

  h1 {
    color: $white;
    font-family: "Poppins", sans-serif;
  }
}